...
BasedOnStyle: WebKit
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 400
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
PenaltyBreakFirstLessLess: 1000000000
PenaltyExcessCharacter: 1000000000
AlignAfterOpenBracket: false
AlignOperands: DontAlign
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  AfterFunction: true
  BeforeLambdaBody: true

LambdaBodyIndentation: Signature
IndentCaseLabels: true
NamespaceIndentation: All
EmptyLineBeforeAccessModifier: Leave
AlignArrayOfStructures: Left
DerivePointerAlignment: false
PointerAlignment: Middle
ReferenceAlignment: Pointer
QualifierAlignment: Left
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
SpaceAroundPointerQualifiers: Both
SpaceInEmptyBlock: false
SpacesInAngles: true
SpacesInConditionalStatement: true
SpacesInCStyleCastParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true
IncludeBlocks: Merge
SortIncludes: false
BreakBeforeBinaryOperators: true
BreakBinaryOperations: OnePerLine
BreakBeforeTernaryOperators: true
ReflowComments: false
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossComments
SortUsingDeclarations: false
...
